body {
	background-color: #3f3f3f;
	height: 7500px;
}

.part1 {
	height: 600px;
	background-color: #e8e8e8;
}

p, a{
	font-family: "Roboto", sans-serif;
}

.me {
	font-size: 12px;
	color: #000000;
	letter-spacing: 0.2em;
	font-weight: 100;
	padding-left: 20px;
	padding-top: 10px;
}

.shards {
	font-size: 28px;
	color: black;
	letter-spacing: 1em;
	font-weight: 600;
	text-align: center;
	padding-top: 200px;
}

.howmedia {
	font-size: 20px;
	color: black;
	letter-spacing: 0.3em;
	font-weight: 100;
	text-align: center;
	padding-top: 25px;
	padding-right: 25px;
}

.shards, .howmedia {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 50%;
    width: 100%; 
  }
}

.image1 {
	position: absolute;
	margin-left: 60%;
	filter: blur(2px);
	opacity: 0.5;
}

.image2 {
	position: absolute;
	padding-left: -30%;
	top: 400px;
	filter: blur(5px);
	opacity: 0.5;
}

.image3 {
	position: absolute;
	right: 250px;
	top: 100px;
	transform: scaleX(-1);
	opacity: 0.5;
}

.image4 {
	position: absolute;
	left: 25%;
	top: 300px;
	opacity: 0.5;
}

/**part 2**/

.part2 {
	height: 35%;
	background-color: #3f3f3f;
}

.t1, .t2, .t3{
	color: #e8e8e8;
	letter-spacing: 0.15em;
	font-size: 26px;
	font-weight: lighter;
	word-spacing: 100vw;
	line-height: 2em;
	text-align: center;
}

.t1 {
	margin-right: 40%;
	position:relative;
}

.t2, .t3{
	margin-right: 10%;
	position:relative;
}

.t3 {
	color: black;
	font-weight: 500;
	z-index: 1;
	line-height: 3em;
}

.t4 {
	color: #e8e8e8;
	font-weight: lighter;
	display: block;
	margin: 0 auto;
	margin-left: 60%;
	z-index: 2;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	font-size: 11px;
	width: 30%;
	position: relative;
}

.image5, .image6 {
	position: absolute;
	margin-left: 50%;
	top: 1000px;
	filter: blur(5px);
}

.image5 {
	filter:blur(10px);
}

.t5, .t6, .t7 {
	color: #e8e8e8;
	font-weight: 100;
	letter-spacing: 0.1em;
	position: relative;
}

.t5 {
	font-size: 30px;
	padding-left: 35%;
	padding-top: 20%;
	display: block;
	margin: 0 auto;
}

.t6 {
	font-size: 24px;
	padding-left: 40%;
	margin-top: -20px;
	display: block;
	margin: 0 auto;
}

.t7 {
	font-size: 24px;
	padding-left: 40%;
	margin-top: 130px;
	display: block;
}

.t8, .t9, .t10, .t11 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2.4em;
	display: block;
	position: relative;
}

.t8 {
	color: #b2b2b2;
	padding-left: 15%;
	padding-top: 200px;
}

.t9 {
	color: #8c8c8c;
	padding-top: 100px;
	padding-left: 35%;
}

.t10 {
	color: #666666;
	padding-top: 140px;
	padding-left: 15%;
}

.t11 {
	color: #282828;
	padding-top: 140px;
	padding-left: 30%;
}

.t12 {
	position: relative;
	color: #e8e8e8;
	padding-top: 50px;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	font-weight: lighter;
	font-size: 11px;
	max-width: 320px;
	padding-left: 50%;
	padding-right: 15%;
}

.t13 {
	color: #e8e8e8;
	font-size: 26px;
	text-align: center;
	margin-top: 20%;
	letter-spacing: 0.03em;
	font-weight: 300;
}

.t14 {
	color: #e8e8e8;
	font-size: 26px;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 0.03em;
	font-weight: 300px;
}

.image7, .image8 {
	position: absolute;
	z-index: 1;
}

.image7 {
	left: 140px;
}

.image8 {
	left: 300px;
	transform: scaleY(-1);
	top: 2920px;
	filter: blur(5px);
}

.image9 {
	position: absolute;
	margin-left: 30%;
	margin-top: -30%;
	filter: blur(10px);
	opacity: 0.4;
}

.image10 {
	position: absolute;
	margin-right: 10%;
	margin-top: -30%;
	transform: scaleY(-1);
	filter: blur(10px);
}

.image11 {
	position: absolute;
	margin-top: -40%;
}

.image12 {
	position: absolute;
	margin-top: -20%;
	margin-left: 20%;
	opacity: 0.3;
}

.image13 {
	position: absolute;
	display: inline-block;
	margin-left: 60%;
	margin-top: -20%;
}

/**part 3**/

.part3 {
	/**height: 10%;**/
	background-color: #e8e8e8;	
}

.t15 {
	position: relative;
	color: #3f3f3f;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	margin-left: 35%;
	line-height: 1.7em;
	padding-top: 200px;
}

.t16, .t17 {
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.75em;
	margin-left: 40%;
	line-height: 4em;
	position:relative;
}

.t18 {
	position: relative;
	color: #3f3f3f;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	margin-left: 60%;
	line-height: 1.7em;
	margin-top: 50px;
}

.t19 {
	position: relative;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.75em;
	margin-left: 37%;
	margin-top: 10%;
	filter: blur(0px);
}

.t20 {
	position: relative;
	color: #3f3f3f;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	max-width: 40%;
	margin-left: 65%;
	line-height: 1.7em;
	margin-top: -40px;
}

.t21 {
	position: relative;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.75em;
	margin-left: 20%;
	margin-top: 10%;
	filter: blur(0px);
}

.t22 {
	position: relative;
	color: #3f3f3f;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	max-width: 40%;
	margin-left: 45%;
	line-height: 1.7em;
	margin-top: -5%;
}

.t23 {
	position: relative;
	color: #3f3f3f;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	line-height: 1.7em;
	margin-left: 36%;
	margin-top: 20%;
}

.t24 {
	color: #aaaaaa;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.75em;
	margin-left: 20%;
	margin-top: -70px;
	line-height: 2em;
	width: 50%;
	filter: blur(1.5px);
	position: relative;
}

.t25 {
	font-weight: bold;
	font-size: 80px;
	width: 70%;
	letter-spacing: 0.05em;
	margin-left: 25%;
	margin-right: 30%;
	line-height: 1.2em;
	filter: blur(0px);
}



/**part 4**/
.part4 {
	height: 30%;
	background-color: #3f3f3f;	
}

.t26 {
	font-weight: bold;
	font-size: 100px;
	width: 70%;
	min-width: 40%;
	letter-spacing: 0.05em;
	margin-left: 5%;
	line-height: 1.2em;
	padding-top: 100px;
	filter: blur(0px);
	z-index: 5;
}

.t27 {
	position: relative;
	color: #aaaaaa;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	margin-left: 20%;
	margin-top: -150px;
	line-height: 1.7em;
	letter-spacing: 0.05em;
	z-index: 1;
}

.t28 {
	color: #5b5b5b;
	font-size: 80px;
	font-weight: 300;
	line-height: 1.6em;
	margin-right: 5%;
}

.t29 {
	position: relative;
	color: #aaaaaa;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	margin-left: 20%;
	margin-top: 60px;
	line-height: 1.7em;
	letter-spacing: 0.05em;
	padding-bottom: 250px;
}

.part5 {
	height: 30%;
	background-color: #e8e8e8;
}

/**part 5**/

.t30 {
	font-weight: bold;
	font-size: 80px;
	width: 70%;
	min-width: 40%;
	letter-spacing: 0.05em;
	margin-left: 8%;
	padding-top: 15%;
	line-height: 1.2em;
}

.t31 {
	position: relative;
	color: #3f3f3f;
	font-weight: 300;
	font-size: 11px;
	width: 30%;
	margin-left: 50%;
	margin-top: -10%;
	line-height: 1.7em;
	letter-spacing: 0.05em;
	padding-bottom: 250px;
}

.t32 {
	color: #aaaaaa;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.75em;
	margin-left: 20%;
	margin-top: -60px;
	margin-bottom: 20%;
	line-height: 2em;
	width: 50%;
}

.part6 {
	height: 200px;
	background-color: #3f3f3f;
	margin-top: 100px;
}

.t33{
	color: #e8e8e8;
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 0.08em;
	text-decoration: none;
	width: 50%;
	margin: 40%;
}

@media only screen and (max-width: 800px) {
.image1, .image2, .image3 {
	opacity: 0.3;
}

.image1 {
	width: 30%;
	height: 20%;
}

.howmedia {
	font-size: 16px;
	font-weight: 300;
}

.image4 {
	opacity: 0.1;
}

.t1, .t2, .t3 {
	font-size: 20px;
}

.t4 {
	margin-left: 30%;
	margin-top: 50%;
	width: 50%;
}

.t5, .t6, .t7 {
	font-size: 20px;
}

.t8, .t9, .t10, .t11 { 
	font-size: 95%;
	letter-spacing: 1.5em; 
	margin-left: -10%;
}

.t11 {
	margin-left: -30%;
}

.t19, .t21 {
	margin-left: 10%;
}

.t18 {
	margin-left: 30%;
	width: 50%;
}

.t20, .t22 {
	margin-top: 0%;
	margin-left: 20%;
	width: 75%;
}

.t23 {
	width: 43%;
}

.t24 {
	width: 75%;
}

.t25, .t26, .t30 {
	font-size: 64px;
}

.image7 {
	opacity: 0.3;
	filter: blur(5px);
}

.image9 {
	width: 100px;
	height: 100px;
}

.image9, .image10 {
	opacity: 0.4;
}

.t27 {
	width: 50%;
}

.t28 {
	font-size: 44px;
	margin-left: 5%;
}

.t29 {
	width: 50%;
	margin-left: 35%;
}

.image11, .image12 {
	opacity: 0.3;
}

.image12 {
	width: 100px;
	height: 100px;
}

.t31 {
	width: 60%;
	margin-top: 10%;
	margin-left: 10%;
	font-weight: 500;
}

.t32 p{
	margin-left: 10%;
	font-size: 18px;
	position: relative;
}

.t33 p{
	margin: 40%;
	width: 100%;
}


.part2{
	height: 30%;
}

.part6 {
	margin-left: -15%;
}


.part4 {
	height: 35%;
}
} 